@import url(/css/null.css);
body {
  background-color: black;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 7px 23px 0 23px;
}

.client-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.geo {
  font-size: 20px;
  color: gold;
  background-color: transparent;
}

.search {
  font-size: 20px;
  color: gold;
  background-color: transparent;
}

.fav {
  font-size: 20px;
  color: gold;
  background-color: transparent;
}

.header-name {
  color: white;
  font-size: 24px;
}

.shop-button {
  font-size: 20px;
  color: gold;
  background-color: transparent;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}