@import url(/css/null.css);
body {
  color: white;
  background-color: black;
  padding-left: 100px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 25px;
  margin-bottom: 40px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 700;
  position: relative;
  z-index: 2;
}

.buttom_menu:hover {
  color: gray;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 700;
}

h1 {
  font-family: Buyan;
  font-size: 96px;
  font-weight: 700;
  line-height: 105px;
  letter-spacing: 0.05em;
  text-align: left;
  margin-bottom: 18px;
  position: relative;
  z-index: 2;
}

h2 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 500px;
  position: relative;
  z-index: 2;
}

.order_button {
  width: 358px;
  height: 103px;
  margin-top: 45px;
  background-color: #240090;
  border-radius: 15px;
  font-family: Buyan;
  font-size: 48px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.order_button:hover {
  background-color: #3900e2;
}

#brick1 {
  position: absolute;
  right: 44px;
  top: 5px;
  z-index: 1;
}

/* .bluch1 {
	width: 916px;
	height: 912px;
	background-color: #3500D3;
	border-radius: 32% 68% 42% 58% / 41% 33% 67% 59%;
	position: absolute;
	right: -230px;
	top: -43px;
	z-index: 0;
} */
.bullet_ul {
  margin-top: 244px;
  max-width: 439px;
  display: -ms-grid;
  display: grid;
  gap: 70px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 900;
  line-height: 38px;
  letter-spacing: 0em;
}

.bullet_block {
  position: relative;
  padding-left: 40px;
}
.bullet_block::before {
  content: " ";
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  position: absolute;
  left: 0;
  top: 5px;
}

.bullet_text {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

#brick2 {
  position: absolute;
  right: 44px;
  top: 740px;
  z-index: 1;
}

.chance {
  font-family: Buyan;
  font-size: 96px;
  font-weight: 700;
  line-height: 105px;
  letter-spacing: 0.05em;
  text-align: left;
  margin-top: 390px;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.one_brick1 {
  width: 273px;
  height: 412px;
  display: -ms-grid;
  display: grid;
}

.zag {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
}

.text_brick {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}

.form_z {
  font-family: Buyan;
  font-size: 96px;
  font-weight: 700;
  line-height: 105px;
  letter-spacing: 0.05em;
  text-align: left;
  margin-top: 390px;
}