@import url(/css/null.css);
body {
  width: 100%;
  color: #B6B6B6;
  background-color: #09090A;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 70px;
}

#left_menu {
  background-color: #0E0E0E;
  width: 160px;
  height: 100%;
}

.row_work_ul {
  margin-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.work {
  width: 144px;
  height: 30px;
  left: 9px;
  top: 70px;
  text-align: center;
  padding-top: 7px;
  background: rgba(133, 167, 255, 0.2);
  border-radius: 5px;
}
.work:hover {
  background: rgba(133, 168, 255, 0.8);
  color: white;
}

#add_button {
  width: 144px;
  height: 30px;
  left: 9px;
  top: 70px;
  text-align: center;
  padding-top: 7px;
  background: rgba(133, 167, 255, 0.2);
  border-radius: 5px;
}
#add_button:hover {
  background: rgba(133, 168, 255, 0.8);
  color: white;
}

#timeTrack {
  width: 618px;
  height: 100%;
}

img {
  margin-top: 4px;
}

hr {
  display: block;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(182, 182, 182, 0)), color-stop(20.31%, #B6B6B6), color-stop(80.73%, #B6B6B6), to(rgba(182, 182, 182, 0)));
  background: linear-gradient(90deg, rgba(182, 182, 182, 0) 0%, #B6B6B6 20.31%, #B6B6B6 80.73%, rgba(182, 182, 182, 0) 100%);
  margin: 5px;
}

.work_deal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#timeWorld {
  font-size: 32px;
}

#right_menu {
  width: 231px;
}

.add_work_menu {
  margin-top: 10px;
  width: 230px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

#timeWorld {
  text-align: right;
}

#add_work_buttom {
  width: 144px;
  height: 30px;
  left: 9px;
  top: 70px;
  text-align: center;
  padding-top: 7px;
  background: rgba(135, 255, 133, 0.2);
  border-radius: 5px;
}
#add_work_buttom:hover {
  background: rgba(135, 255, 133, 0.8);
  color: white;
}

#stop_button {
  width: 77px;
  height: 30px;
  left: 9px;
  top: 70px;
  text-align: center;
  padding-top: 7px;
  background: rgba(255, 133, 133, 0.2);
  border-radius: 5px;
}
#stop_button:hover {
  background: rgba(255, 133, 133, 0.8);
  color: white;
}