@import url(/css/null.css);
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
body {
  background-color: #121212;
}

button {
  background-color: transparent;
  cursor: pointer;
}

.sidebar {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 75px;
  height: 100%;
  background: #459365;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

body.open .sidebar {
  width: 240px;
}

.sidebar-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
}

.sidebar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  padding: 0 1.25rem 0 0;
  background: #193625;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.sidebar-header:hover {
  background: #192a36;
  height: 30px;
}

.sidebar-burger {
  width: 70px;
  height: 70px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.sidebar-burger > i, body.open .sidebar-burger > i {
  font-size: 25px;
  color: white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.sidebar-menu {
  display: -ms-grid;
  display: grid;
}

.sidebar-menu > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  font-family: "Ubuntu";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 0 19px;
  border-left: 3px solid transparent;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.sidebar-menu > button:hover {
  border-left: 3px solid #df10df;
}

.sidebar-menu > button > i {
  font-size: 25px;
  color: white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.sidebar-menu > button:hover > i, .sidebar-menu > button:hover > span {
  color: white;
}

.sidebar-menu > button > span {
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

body.open .sidebar-menu > button > span {
  opacity: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}