@import url(/css/null.css);

body {
	padding: 30px;
	background-color: gray;
}

.login_menu {
	width: 60%;
	height: 50px;
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-between;
}

.login_menu_text {
}

.login_menu_button {
	font-size: 14px;
	width: 28px;
	height: 28px;
}

.collums {
	display: flex;
	gap: 30px;
}

.content {
	width: 60%;
}

.content_text {
	font-size: 36px;
}
.conten_buttons {

}
.content_buttons_start {
	width: 230px;
	height: 60px;
	font-size: 24px;
	color: white;
	background-color: black;
}

.content_buttons_video {
	width: 230px;
	height: 60px;
	font-size: 24px;
	color: white;
	background-color: transparent;
}

.money {
	width: 40%;
	height: 100%;
	display: flex;
}

.money_block {
	width: 230px;
	height: 230px;
	background-color: orangered;
	border: 1px solid black;

}

.money_block_logo {
}

.money_block_text {
}